/*
 * GoogleMapsPlatformLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.googleapis.maps.apis;

import com.googleapis.maps.ApiHelper;
import com.googleapis.maps.Server;
import com.googleapis.maps.exceptions.ApiException;
import com.googleapis.maps.exceptions.ErrorResponseException;
import com.googleapis.maps.http.request.HttpMethod;
import com.googleapis.maps.http.response.ApiResponse;
import com.googleapis.maps.models.GeolocationRequest;
import com.googleapis.maps.models.GeolocationResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class GeolocationApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public GeolocationApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Geolocation API returns a location and accuracy radius based on information about cell towers
     * and WiFi nodes that the mobile client can detect. This document describes the protocol used
     * to send this data to the server and to return a response to the client. Communication is done
     * over HTTPS using POST. Both request and response are formatted as JSON, and the content type
     * of both is `application/json`. You must specify a key in your request, included as the value
     * of a`key` parameter. A `key` is your application's API key. This key identifies your
     * application for purposes of quota management. Learn how to [get a
     * key](https://developers.google.com/maps/documentation/geolocation/get-api-key).
     * @param  body  Optional parameter: The request body must be formatted as JSON.
     * @return    Returns the GeolocationResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GeolocationResponse> geolocate(
            final GeolocationRequest body) throws ApiException, IOException {
        return prepareGeolocateRequest(body).execute();
    }

    /**
     * Geolocation API returns a location and accuracy radius based on information about cell towers
     * and WiFi nodes that the mobile client can detect. This document describes the protocol used
     * to send this data to the server and to return a response to the client. Communication is done
     * over HTTPS using POST. Both request and response are formatted as JSON, and the content type
     * of both is `application/json`. You must specify a key in your request, included as the value
     * of a`key` parameter. A `key` is your application's API key. This key identifies your
     * application for purposes of quota management. Learn how to [get a
     * key](https://developers.google.com/maps/documentation/geolocation/get-api-key).
     * @param  body  Optional parameter: The request body must be formatted as JSON.
     * @return    Returns the GeolocationResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GeolocationResponse>> geolocateAsync(
            final GeolocationRequest body) {
        try {
            return prepareGeolocateRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for geolocate.
     */
    private ApiCall<ApiResponse<GeolocationResponse>, ApiException> prepareGeolocateRequest(
            final GeolocationRequest body) {
        return new ApiCall.Builder<ApiResponse<GeolocationResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.GOOGLE_APIS.value())
                        .path("/geolocation/v1/geolocate")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("ApiKeyAuth"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GeolocationResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("400 BAD REQUEST",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("404 NOT FOUND",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}